@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  margin: 0;
  height: 100%;
  background: #e8e9eb;
}

/* glass effect */
.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(255, 255, 255, 0.65);
}

/*accordion styling*/
.accordion {
  max-width: 600px;
  width: 100%;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: white;
  border-bottom: 2px solid #ececf1;
}

.accordion-title:hover {
  background-color: #d0e7e2;
}

.accordion-title,
.accordion-content {
  padding: 0.9rem;
}

.accordion-content {
  background-color: white;
  border-bottom: 8px;
}

/* swiper controls */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 500px;
  background-color: transparent;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 40px !important;
  height: 3px !important;
  border-radius: 0px !important;
  background: rgb(230, 226, 226) !important;
}

.swiper-button-next {
  /* Styling for the next button */
  right: 170px !important;
}

.swiper-button-prev {
  /* Styling for the previous button */
  left: 170px !important;
}

.swiper-button-next,
.swiper-button-prev {
  /* Styling for navigation buttons */
  color: white !important;
  height: 20px !important;
  width: 20px !important;
}

.swiper-button-next:after {
  /* icon inside next button */
  content: url(); /*link to asset */
  font-size: 30px !important;
}

.swiper-button-prev:after {
  /* icon inside next button */
  content: url(); /*link to asset */
  font-size: 30px !important;
}

@media only screen and (max-width: 720px) {
  .swiper-button-next {
    /* Styling for the next button */
    right: 2px !important;
  }
  
  .swiper-button-prev {
    /* Styling for the previous button */
    left: 2px !important;
  }
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

td, th {
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}