.heroBg {
  background-image: linear-gradient(
      -40deg,
      rgba(37, 42, 52, 0.8) 55%,
      rgba(33, 157, 128, 0.85) 45%
    ),
    url("/assets/schoolkidsss.jpg");
  height: 90dvh;
  width: 100%;
  color: #ededed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heroBgPrimary {
  background-image: linear-gradient(
      -40deg,
      rgba(37, 42, 52, 0.8) 55%,
      rgba(33, 157, 128, 0.85) 45%
    ),
    url("/assets/zion-kids.jpg");
  height: 100dvh;
  width: 100%;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heroBgSecondary {
  background-image: linear-gradient(
      -40deg,
      rgba(37, 42, 52, 0.8) 55%,
      rgba(33, 157, 128, 0.85) 45%
    ),
    url("/assets/war-kids.jpg");
  height: 50dvh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 420px) {
  .heroBgPrimary {
    background-image: linear-gradient(
        -40deg,
        rgba(37, 42, 52, 0.8) 55%,
        rgba(33, 157, 128, 0.85) 45%
      ),
      url("/assets/zion-kids.jpg");
    height: 70dvh;
    width: 100%;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .heroBgSecondary {
    background-image: linear-gradient(
        -40deg,
        rgba(37, 42, 52, 0.8) 55%,
        rgba(33, 157, 128, 0.85) 45%
      ),
      url("/assets/war-kids.jpg");
    height: 70dvh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* @media only screen and (min-width: 1152px){

  .heroBgPrimary {
    background-image: linear-gradient(
        -40deg,
        rgba(37, 42, 52, 0.8) 55%,
        rgba(33, 157, 128, 0.85) 45%
      ),
      url("/assets/zion-kids.jpg");
    height: 10vh;
    width: 100%;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
} */
